<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    
</head>

<body>
    <div class="screen-overlay"></div>
    <%-include('aside.ejs')-%>
    <main class="main-wrap">
        <%-include('navbar.ejs')%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon List</h2>
                    <p>Add,edit or delete coupon</p>
                </div>
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                    <a href="#" class="btn btn-primary btn-sm rounded" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Create new</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="text-align: center; font-size: larger;">

                                <th scope="col">Coupon Code</th>

                                <th scope="col">Discount Amount</th>
                                <th scope="col">Minimum Purchase</th>
                                <th scope="col">Status</th>
                                <th scope="col" style="text-align: center;">Expiry Date</th>
                                <th scope="col" class="text-center"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="card-body">
                                <%for(i=0;i<couponData.length;i++){%>

                                    <tr style="text-align: center;">

                                        <td style="font-size: 20pt;"><b>
                                                <%=couponData[i].couponcode%>
                                            </b></td>
                                        <%if(couponData[i].discount>0){%>
                                            <td>₹<%=couponData[i].discount%>
                                            </td>
                                            <%}else{%>
                                                <td>
                                                    <%=couponData[i].offerPercentage%>%
                                                </td>
                                                <%}%>

                                                    <td>
                                                        <%=couponData[i].minPurchase%>
                                                    </td>

                                                    <%if(couponData[i].expiryDate>Date.now()){%>
                                                        <td><span class="badge rounded-pill alert-success">Active</span>
                                                        </td>
                                                        <%}else{%>
                                                            <td><span
                                                                    class="badge rounded-pill alert-warning">Inactive</span>
                                                            </td>
                                                            <%}%>
                                                                <%const newDate=new Date(couponData[i].expiryDate)%>
                                                                    <%const year=newDate.getFullYear()%>
                                                                        <%const month=newDate.getMonth()+1%>
                                                                            <%const day=newDate.getDate()%>
                                                                                <%const
                                                                                    formattedDate=`${year}-${month<10?0:''}${month}-${day<10?0:''}${day}`%>
                                                                                    <td style="text-align: center;">
                                                                                        <%=formattedDate%>
                                                                                    </td>
                                                                                    <td
                                                                                        class="text-end d-flex justify-content-between">
                                                                                        <!-- <a href="#" class="btn btn-md rounded font-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Edit</a> -->
                                                                                        <button
                                                                                            class="btn btn-primary btn-sm rounded"
                                                                                            data-bs-toggle="modal"
                                                                                            data-bs-target="#editModal"
                                                                                            onclick="editModal('<%=couponData[i]._id%>','<%=couponData[i].couponcode%>','<%=couponData[i].discount%>','<%=couponData[i].minPurchase%>','<%=couponData[i].expiryDate%>','<%=couponData[i].description%>','<%=couponData[i].offerPercentage%>')">Edit</button>
                                                                                        <button
                                                                                            class="btn btn-danger btn-sm rounded"
                                                                                            onclick="removeCoupon('<%=couponData[i]._id%>')">Remove
                                                                                            Coupon</button>
                                                                                        <!-- <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> dropdown //end -->
                                                                                    </td>
                                    </tr>

                                    <%}%>
                            </div>
                        </tbody>
                    </table>
                    <script>
                        let couponid;
                        function editModal(couponId, couponCode, discount, minPurchase, expiryDate, description, offerPercentage) {
                            console.log("Hello")
                            console.log(couponCode, discount, minPurchase, expiryDate, description)
                            document.getElementById('couponcode').value = couponCode

                            document.getElementById('minPurchase').value = minPurchase
                            if (offerPercentage > 0) {
                                document.getElementById('edit_offerTypeButton').textContent = "Percentage Offer"
                                document.getElementById('edit_offerTypeLabel').textContent = "Percentage Offer"
                                document.getElementById('discountamount').value = offerPercentage
                            } else {
                                document.getElementById('edit_offerTypeButton').textContent = "Flat Offer"
                                document.getElementById('edit_offerTypeLabel').textContent = "Flat Offer"
                                document.getElementById('discountamount').value = discount
                            }

                            const couponExpiry = new Date(expiryDate);
                            const year = couponExpiry.getFullYear();
                            const month = couponExpiry.getMonth() + 1;
                            const day = couponExpiry.getDate();
                            const formattedDate = `${year}-${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}`
                            document.getElementById('date').value = formattedDate
                            document.getElementById('description').value = description
                            couponid = couponId;
                        }

                        function saveEditedCoupon(event) {
                            event.preventDefault()
                            fetch('/admin/saveeditedcoupon', {
                                method: "POST",
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    couponCode: document.getElementById('couponcode').value,
                                    discount: document.getElementById('discountamount').value,
                                    minPurchase: document.getElementById('minPurchase').value,
                                    expiryDate: document.getElementById('date').value,
                                    description: document.getElementById('description').value,
                                    couponId: couponid,
                                    editOfferType: document.getElementById('edit_offerTypeButton').textContent
                                })
                            }).then(response => {
                                if (response.ok) {
                                    console.log("success")
                                    return response.json()
                                    
                                } else {
                                    console.log("Error")
                                }
                            }).then(data=>{
                                if(data.message=="Failed"){
                                    Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "The percentage value cannot go above 99",
                                });
                                }else{
                                    window.location.href = '/admin/coupons'
                                }
                            })
                            .catch(error => {
                                console.log(error)
                            })
                        }

                        function removeCoupon(couponId) {
                            Swal.fire({
                                title: "Do you want to remove the coupon?",
                                showDenyButton: true,
                                showCancelButton: true,
                                confirmButtonText: "Yes",
                                denyButtonText: `No`
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                    
                                    fetch('/admin/remove-coupon', {
                                        method: "POST",
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            couponId: couponId
                                        })
                                    }).then(res => {
                                        if (res.ok) {
                                            console.log("Success")
                                            window.location.href = '/admin/coupons'
                                        }
                                    }).catch(err => {
                                        console.log(err)
                                    })
                                } else if (result.isDenied) {
                                    Swal.fire("The coupon wasn't removed", "", "info");
                                }
                            });

                        }
                    </script>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->

            <!-- modal for edit -->

            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form method="" action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Coupon</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Coupon Code</label>
                                    <input type="text" class="form-control" id="couponcode" aria-describedby="emailHelp"
                                        name="couponCode">
                                </div>
                                <div class="dropdown">
                                    <input type="hidden" name="offerType" id="edit_offerTypeInput" value="">
                                    <button class="btn btn-secondary dropdown-toggle" name="offerTypeButton"
                                        type="button" id="edit_offerTypeButton" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Offer type
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" id="edit_percentageOffer">Percentage
                                                Offer</a></li>
                                        <li><a class="dropdown-item" href="#" id="edit_flatOffer">Flat Offer</a></li>
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"
                                        id="edit_offerTypeLabel">Discount Amount</label>
                                    <input type="number" class="form-control" id="discountamount" name="discountAmount">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Minimum Purchase
                                        Amount</label>
                                    <input type="number" class="form-control" id="minPurchase" name="minimumPurchase">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Expiry Date</label>
                                    <div class="">
                                        <input type="date" value="02.05.2021" class="form-control" name="date"
                                            id="date" min="<%= (new Date()).toISOString().split('T')[0] %>">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"
                                        id="description"></textarea required>
                                </div>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="" class="btn btn-primary" onclick="saveEditedCoupon(event)">Save changes</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <%if(message=='0'){%>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "A coupon with that name already exist",
                });
            })
                </script>
                <%}else if(message=='1'){%>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                        Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Percentage value should not go beyond 99",
                    });
                })
                    </script>
                    
                    <%}else if(message=='2'){%>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                            Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Coupon code cannot contain spaces",
                        });
                    })
                        </script>
                        <%}%>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <form method="post" action="/admin/createcoupon">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Coupon</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Coupon Code</label>
                                  <input type="text" class="form-control" id="couponcode" aria-describedby="emailHelp" name="couponCode" required>
                                </div>
                                <div class="dropdown">
                                    <input type="hidden" name="offerType" id="offerTypeInput" value="">
                                    <button class="btn btn-secondary dropdown-toggle" name="offerTypeButton" type="button" id="offerTypeButton" data-bs-toggle="dropdown" aria-expanded="false">
                                      Offer type
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" id="percentageOffer">Percentage Offer</a></li>
                                      <li><a class="dropdown-item" href="#" id="flatOffer">Flat Offer</a></li>
                                    </ul>
                                  </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label" id="offerTypeLabel">Flat Offer Amount</label>
                                  <input type="number" class="form-control" id="discountamount" name="discountAmount" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Minimum Purchase Amount</label>
                                    <input type="number" class="form-control" id="discountamount" name="minimumPurchase" required>
                                  </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Expiry Date</label>
                                    <div class="">
                                        <input type="date" value="02.05.2021" class="form-control" name="date" id="date" required min="<%= (new Date()).toISOString().split('T')[0] %>">
                                    </div>
                                  </div>
                                  <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"></textarea required>
                                </div>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <script>

                document.getElementById('offerTypeButton').textContent = 'Flat Offer';
                document.getElementById('offerTypeInput').value = 'Flat Offer'
                document.getElementById('percentageOffer').addEventListener('click', function () {
                    // Change the text content of the button to "Percentage Offer"
                    document.getElementById('offerTypeButton').textContent = 'Percentage Offer';
                    document.getElementById('offerTypeLabel').textContent = 'Percentage Offer'
                    document.getElementById('offerTypeInput').value = 'Percentage Offer'
                });

                document.getElementById('flatOffer').addEventListener('click', () => {
                    document.getElementById('offerTypeButton').textContent = 'Flat Offer'
                    document.getElementById('offerTypeLabel').textContent = 'Flat Offer'
                    document.getElementById('offerTypeInput').value = 'Flat Offer'
                })

                document.getElementById('edit_percentageOffer').addEventListener('click', function () {
                    // Change the text content of the button to "Percentage Offer"
                    document.querySelector('.dropdown button').textContent = 'Percentage Offer';
                    document.getElementById('edit_offerTypeLabel').textContent = 'Percentage Offer'
                    document.getElementById('edit_offerTypeInput').value = 'Percentage Offer'
                });

                document.getElementById('edit_flatOffer').addEventListener('click', () => {
                    document.querySelector('.dropdown button').textContent = 'Flat Offer'
                    document.getElementById('edit_offerTypeLabel').textContent = 'Flat Offer'
                    document.getElementById('edit_offerTypeInput').value = 'Flat Offer'
                })
            </script>
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->

</html>