
<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%-include('aside.ejs')-%>
    <main class="main-wrap">
        <%-include('navbar.ejs')%>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Update Product Details</h2>
                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
            <form class="add-product" method="post" enctype="multipart/form-data" action="/admin/editproduct?id=<%=products._id%>">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="productName" value="<%=products.productName%>" required>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4" name="description"><%=products.description%></textarea>
                                    </div>
                                    
                                </div> <!-- col.// -->
                                <%if(message==='0'){%>

                                    <script>
                                        console.log("Hello")
                                        document.addEventListener('DOMContentLoaded', function () {
                                            Swal.fire({
                                                title: 'Oops!',
                                                text: 'Invalid data detected',
                                                icon: 'error',
                                                showConfirmButton: true,
                                                //   confirmButtonText: '<a href="/">Login to your account</a>',
                                                //   confirmButtonColor:'#0000'
                                            });
                                        });
                                    </script>
                                    
                                    <%}else if(message==='1'){%>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Regular price cannot go beyond sale price',
                                                    icon: 'error',
                                                    showConfirmButton: true,
                                                    //   confirmButtonText: '<a href="/">Login to your account</a>',
                                                    //   confirmButtonColor:'#0000'
                                                });
                                            });
                                        </script> 
                                        
                                        <%}else if(message==='2'){%>
                                            <script>
                                                document.addEventListener('DOMContentLoaded', function () {
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Images are only accepted',
                                                        icon: 'error',
                                                        showConfirmButton: true,
                                                        //   confirmButtonText: '<a href="/">Login to your account</a>',
                                                        //   confirmButtonColor:'#0000'
                                                    });
                                                });
                                            </script> 
                                            <%}%>
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">regular price</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="regularPrice" value="<%=products.regularPrice%>">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">sale price</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="salePrice" value="<%=products.salePrice%>">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                            <select class="form-select" name="categoryId">
                                                <%for(i=0;i<categoryData.length;i++){%>
                                                    <option value="<%= categoryData[i]._id %>" <%= (products.categoryid === categoryData[i]._id) ? 'selected' : '' %>>
                                                        <%= categoryData[i].categoryName %>
                                                      </option>
                                                    <%}%>
                                    
                                            </select>

                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Brand</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                            <select class="form-select" name="brand">
                                                <%for(i=0;i<brandData.length;i++){%>
                                                    <%if(brandData[i].is_active!=false){%>
                                                        <option value="<%= brandData[i]._id %>" <%= (products.brand.brandName === brandData[i]._id) ? 'selected' : '' %>>
                                                            <%= brandData[i].brandName %>
                                                          </option>
                                                        <%}%>
                                                    
                                                    <%}%>
                                                <!-- <option value="School" <% if (products.categoryid === 'School') { %> selected <% } %>>School</option>
                                                <option value="College" <% if (products.categoryid === 'College') { %> selected <% } %>>College</option>
                                                <option value="Professional" <% if (products.categoryid === 'Professional') { %> selected <% } %>>Professional</option>
                                                <option value="Outdoor" <% if (products.categoryid === 'Outdoor') { %> selected <% } %>>Outdoor</option>  -->
                                            </select>
                                            <input type="hidden" name="brandId" value="<%= products.brand %>">

                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                                    
                                        
                                        <!-- <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" name="category" type="radio">
                                            <span class="form-check-label"> Smartphones </span>
                                        </label> -->
                                        <!-- <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" name="category" type="radio">
                                            <span class="form-check-label"> Books </span>
                                        </label> -->
                                        <!-- <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" name="category" type="radio">
                                            <span class="form-check-label"> Kids item </span>
                                        </label> -->
                                        <!-- <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" name="category" type="radio">
                                            <span class="form-check-label"> Others </span>
                                        </label> -->
                                    </div>
                                
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <input class="form-control" type="file" name="image" multiple>
                                    </div>
                                </div>
                                 <%for(i=0;i<products.image.length;i++){%>

                                    <div class="image-preview">
                                            <button type="button" class="btn btn-danger delete-image rounded-circle"
                                                onclick="deleteImage(`<%=i%>`, `<%=products._id%>`)">

                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <img src="/<%=products.image[i]%>" alt="">

                                        </div>
                                    <%}%>
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                    <script>
                        async function deleteImage(index, productId) {
                            try {
                                const imagePreview = document.querySelectorAll('.image-preview')[index]
                                if (imagePreview) {
                                    imagePreview.remove()
                                } else {
                                    res.write('something error')
                                    res.end()
                                }
                                const response=await fetch(`/admin/deleteImage/${productId}/${index}/`, {
                                    method: 'DELETE',

                                });

                                if (response.ok) {
                                    console.log('Image deleted successfully');
                                    // Optionally, update the UI to reflect the deletion
                                } else {
                                    console.error('Failed to delete image');
                                }
                            } catch (error) {
                                console.error('Error:', error);
                            }
                        }
                    </script>
                </div>
            </div>
            <div>
                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                <a href="/admin/products"><button class="btn btn-md rounded font-sm hover-up">Publish</button></a>
            </div>
        </form>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>