<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <%-include('navbar.ejs')%>
        <!-- <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                     mobile menu start  
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    mobile menu end -->
        <!-- </div> -->
        <!-- <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>  -->
        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <!-- <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span> Pages
                        <span></span> Account
                    </div>
                </div> -->
            </div>
            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dashboard-menu">
                                        <ul class="nav flex-column" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                    href="#dashboard" role="tab" aria-controls="dashboard"
                                                    aria-selected="false"><i
                                                        class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                    role="tab" aria-controls="orders" aria-selected="false"><i
                                                        class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                    href="#track-orders" role="tab" aria-controls="track-orders"
                                                    aria-selected="false"><i
                                                        class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                    href="#address" role="tab" aria-controls="address"
                                                    aria-selected="true"><i class="fi-rs-marker mr-10"></i>My
                                                    Address</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                    href="#my-wallet" role="tab" aria-controls="track-orders"
                                                    aria-selected="false"><i
                                                        class="fi-rs-shopping-cart-check mr-10"></i>My
                                                    Wallet</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                    href="#account-detail" role="tab" aria-controls="account-detail"
                                                    aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                                                    details</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                    href="#refer-and-earn" role="tab" aria-controls="track-orders"
                                                    aria-selected="false"><i
                                                        class="fi-rs-shopping-cart-check mr-10"></i>Refer and earn</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/logout"><i
                                                        class="fi-rs-sign-out mr-10"></i>Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content dashboard-content">
                                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                            aria-labelledby="dashboard-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Hello <%=userData.name%>! </h5>
                                                </div>
                                                <div class="card-body">
                                                    <p>From your account dashboard. you can easily check &amp; view your
                                                        <a href="#">recent orders</a>, manage your <a href="#">shipping
                                                            and
                                                            billing addresses</a> and <a href="#">edit your password and
                                                            account details.</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="orders" role="tabpanel"
                                            aria-labelledby="orders-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Your Orders</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Order</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                    <th>Total</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <%for(i=0;i<orderData.length;i++){%>
                                                                    <tr>
                                                                        <td>
                                                                            <%=orderData[i].orderId%>
                                                                        </td>
                                                                        <td>
                                                                            <% const orderDate=new
                                                                                Date(orderData[i].orderDate); %>
                                                                                <% const year=orderDate.getFullYear();
                                                                                    %>
                                                                                    <% const month=orderDate.getMonth()
                                                                                        + 1; %>
                                                                                        <% const
                                                                                            day=orderDate.getDate(); %>
                                                                                            <% const
                                                                                                formattedDate=`${year}-${month
                                                                                                < 10 ? '0' : ''
                                                                                                }${month}-${day < 10
                                                                                                ? '0' : '' }${day}`; %>
                                                                                                <%= formattedDate %>
                                                                        </td>
                                                                        <td>
                                                                            <%=orderData[i].orderStatus%>
                                                                        </td>
                                                                        <% let totalQuantity=0; %>
                                                                            <% for (let j=0; j <
                                                                                orderData[i].products.length; j++) { %>
                                                                                <% totalQuantity
                                                                                    +=orderData[i].products[j].quantity;
                                                                                    %>
                                                                                    <% } %>

                                                                                        <td>
                                                                                            <%=orderData[i].totalAmount%>
                                                                                                for <%=totalQuantity%>
                                                                                                    item
                                                                                        </td>
                                                                                        <td><a href="/orderdetails?orderid=<%=orderData[i]._id%>"
                                                                                                class="btn-small d-block">View</a>
                                                                                        </td>

                                                                    </tr>
                                                                    <%}%>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="my-wallet" role="tabpanel"
                                            aria-labelledby="track-orders-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">My Wallet</h5>
                                                </div>
                                                <div class="card-body contact-from-area">
                                                    <p>The wallet is used as a digital payment feature that enables
                                                        users to
                                                        store and manage their financial information for swift and
                                                        secure
                                                        transactions</p>
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <form class="contact-form-style mt-30 mb-50" action="#"
                                                                method="post">
                                                                <div class="input-style mb-20">
                                                                    <label>Wallet balance</label>
                                                                    <input name="wallet" placeholder="" type="text"
                                                                        class="square" readonly
                                                                        value="<%=userData.wallet%>">
                                                                </div>
                                                                <!-- <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button> -->
                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                Show wallet history
                                                              </button>
                                                            </form>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h1 class="modal-title fs-5"
                                                                                id="exampleModalLabel">Modal title</h1>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th scope="col">Sl_No</th>
                                                                                    <th scope="col">Time</th>
                                                                                    <th scope="col">Transaction Type</th>
                                                                                    <th scope="col">Amount</th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <%for(i=0;i<userData.walletTransaction.length;i++){%>
                                                                                        <tr>
                                                                                            <th scope="row"><%=i+1%></th>
                                                                                            <td><%=userData.walletTransaction[i].time.toLocaleString()%></td>
                                                                                            <%if(userData.walletTransaction[i].transactionType=="Credit"){%>
                                                                                                <td class="text-success"><%=userData.walletTransaction[i].transactionType%></td>
                                                                                                <%}else{%>
                                                                                                    <td class="text-danger"><%=userData.walletTransaction[i].transactionType%></td>
                                                                                                    <%}%>
                                                                                            
                                                                                            <%if(userData.walletTransaction[i].transactionType=="Credit"){%>
                                                                                                <td>+<%=userData.walletTransaction[i].Amount%></td>
                                                                                                <%}else{%>
                                                                                                    <td>-<%=userData.walletTransaction[i].Amount%></td>
                                                                                                    <%}%>
                                                                                            
                                                                                          </tr>
                                                                                        <%}%>
                                                                                  
                                                                    
                                                                                  
                                                                                </tbody>
                                                                              </table>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Save
                                                                                changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="refer-and-earn" role="tabpanel"
                                            aria-labelledby="track-orders-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Refer and earn</h5>
                                                </div>
                                                <div class="card-body contact-from-area">
                                                    <p>Share your referral code with friends and family to get a walet
                                                        credit upto ₹500</p>
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <form class="contact-form-style mt-30 mb-50" action="#"
                                                                method="post">

                                                                <br>
                                                                <div class="input-style mb-20">
                                                                    <label>Referral Code</label>
                                                                    <input name="wallet" placeholder="" type="text"
                                                                        class="square" readonly
                                                                        value="<%=userData.ref_code%>">
                                                                </div>
                                                                <!-- <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button> -->
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="address" role="tabpanel"
                                            aria-labelledby="address-tab">
                                            <div class="row">
                                                <div class="col-lg-6 d-flex">

                                                    <%if(userData.address.length==0){%>
                                                        <p>No address currently</p>
                                                        <%}else{%>
                                                            <%for(i=0;i<userData.address.length;i++){%>
                                                                <div class="card mb-3 mb-lg-0">
                                                                    <div class="card-header">
                                                                        <h5 class="mb-0">Billing Address</h5>
                                                                    </div>
                                                                    <div class="card-body">

                                                                        <address>
                                                                            <%=userData.address[i].a1%><br>
                                                                                <%=userData.address[i].a2%><br>
                                                                                    <%=userData.address[i].city%> <br>
                                                                                        <%=userData.address[i].state%>
                                                                        </address>
                                                                        <p>
                                                                            <%=userData.address[i].postcode%>
                                                                        </p>
                                                                        <a href="/editaddress?id=<%=userData.address[i]._id%>"
                                                                            class="btn-small">Edit</a>
                                                                        &nbsp;&nbsp;
                                                                        <a href="/deleteaddress?id=<%=userData.address[i]._id%>"
                                                                            class="btn-small">Delete</a>
                                                                    </div>
                                                                </div>
                                                                <%}%>
                                                                    <%}%>



                                                </div>

                                                <!-- <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>4299 Express Lane<br>
                                                            Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                        <p>Sarasota</p>
                                                        <a href="#" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div> -->
                                            </div>
                                            <div class="col-md-12 my-3">
                                                <a href="/addaddress"><button type="submit"
                                                        class="btn btn-fill-out submit" name="submit" value="Submit">Add
                                                        new address</button></a>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                            aria-labelledby="account-detail-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Account Details</h5>
                                                </div>
                                                <div class="card-body">

                                                    <form>
                                                        <div class="row">
                                                            <!-- <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="name" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="phone">
                                                        </div> -->
                                                            <div class="px-4 pt-0 pb-4 cover">
                                                                <div class="media align-items-end profile-head">
                                                                    <div class="profile mr-3">
                                                                        <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                                                                            alt="..." width="130"
                                                                            class="rounded mb-2 img-thumbnail">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Name<span class="required"></span></label>
                                                                <input required="" class="form-control square"
                                                                    name="name" type="text" value="<%=userData.name%>"
                                                                    readonly>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Email Address <span
                                                                        class="required"></span></label>
                                                                <input required="" class="form-control square"
                                                                    name="email" type="email"
                                                                    value="<%=userData.email%>" readonly>
                                                            </div>
                                                            <!-- <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="password" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="npassword" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="cpassword" type="password">
                                                        </div> -->

                                                        </div>
                                                    </form>
                                                    <!-- Button trigger modal -->
                                                    <div class="col-md-12">
                                                        <button type="" class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#staticBackdrop">Change my info</button>
                                                    </div>


                                                    <!-- Modal -->
                                                    <form method="post" action="/updateinfo" id="changeinfoform"
                                                        enctype="application/x-www-form-urlencoded">
                                                        <div class="modal fade" id="staticBackdrop"
                                                            data-bs-backdrop="static" data-bs-keyboard="false"
                                                            tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="staticBackdropLabel">
                                                                            Change Information</h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="form-group col-md-12">
                                                                            <label>Name<span
                                                                                    class="required"></span></label>
                                                                            <input required=""
                                                                                class="form-control square" id="name"
                                                                                name="name" type="text"
                                                                                value="<%=userData.name%>">
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <label>Email Address <span
                                                                                    class="required"></span></label>
                                                                            <input required=""
                                                                                class="form-control square" id="email"
                                                                                name="email" type="email"
                                                                                value="<%=userData.email%>">
                                                                        </div>
                                                                        <p>
                                                                            <a class="btn btn-primary"
                                                                                data-bs-toggle="collapse"
                                                                                href="#collapseExample" role="button"
                                                                                aria-expanded="false"
                                                                                aria-controls="collapseExample">
                                                                                Change my password
                                                                            </a>
                                                                            <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Button with data-bs-target
                </button> -->
                                                                        </p>
                                                                        <div class="collapse" id="collapseExample">
                                                                            <div class="card card-body">
                                                                                <div class="form-group col-md-12">
                                                                                    <label>Current password <span
                                                                                            class="required"></span></label>
                                                                                    <input id="currentpassword"
                                                                                        class="form-control square"
                                                                                        name="currentpassword"
                                                                                        type="text">
                                                                                </div>
                                                                                <div class="form-group col-md-12">
                                                                                    <label>New password <span
                                                                                            class="required"></span></label>
                                                                                    <input class="form-control square"
                                                                                        id="newpassword"
                                                                                        name="newpassword" type="text">
                                                                                </div>
                                                                                <div class="form-group col-md-12">
                                                                                    <label>Confirm password <span
                                                                                            class="required"></span></label>
                                                                                    <input class="form-control square"
                                                                                        id="confirmpassword"
                                                                                        name="confirmpassword"
                                                                                        type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <span id="errorMessages"></span>
                                                                        <!-- <div class="form-group col-md-12">
                <label>Current password <span class="required"></span></label>
                <input required="" class="form-control square" name="currentpassword" type="text">
            </div>
            <div class="form-group col-md-12">
                <label>New password <span class="required"></span></label>
                <input required="" class="form-control square" name="newpassword" type="text">
            </div>
            <div class="form-group col-md-12">
                <label>Confirm password <span class="required"></span></label>
                <input required="" class="form-control square" name="confirmpassword" type="text">
            </div> -->
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit"
                                                                            class="btn btn-primary">Update</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                    <script>
                                                        console.log("Hello from script")
                                                        document.addEventListener('DOMContentLoaded', function () {
                                                            document.getElementById('changeinfoform').addEventListener('submit', function (event) {
                                                                event.preventDefault();

                                                                var formData = {}

                                                                formData['name'] = document.getElementById('name').value;
                                                                formData['email'] = document.getElementById('email').value;
                                                                formData['currentpassword'] = document.getElementById('currentpassword').value;
                                                                formData['newpassword'] = document.getElementById('newpassword').value;
                                                                formData['confirmpassword'] = document.getElementById('confirmpassword').value;
                                                                console.log(formData)
                                                                // Make a fetch request to the server
                                                                fetch('/updateinfo', {
                                                                    method: 'POST',
                                                                    headers: {
                                                                        'Content-Type': 'application/json' // Set the content type to JSON
                                                                    },
                                                                    body: JSON.stringify(formData)
                                                                })

                                                                    .then(response => response.json())
                                                                    .then(data => {
                                                                        // Check the server response for success or error
                                                                        if (data.success) {
                                                                            // If success, close the modal or update content
                                                                            Swal.fire({

                                                                                icon: "success",
                                                                                title: "Information Updated",
                                                                                showConfirmButton: false,
                                                                                timer: 2000
                                                                            });
                                                                            document.getElementById('changeinfoform').style.display = 'none';
                                                                            setTimeout(() => {
                                                                                window.location.replace("/account?id=<%=userData._id%>");
                                                                            }, 2000);

                                                                        } else {
                                                                            // If there are errors, update the modal content with error messages
                                                                            // Assuming there's a div with id 'errorMessages' inside your modal
                                                                            document.getElementById('errorMessages').innerHTML = data.errors;
                                                                        }
                                                                    })
                                                                    .catch(error => {
                                                                        console.error('Error:', error);
                                                                    });
                                                            });
                                                        });
                                                    </script>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="main">
            <section class="newsletter p-30 text-white wow fadeIn animated">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 mb-md-3 mb-lg-0">
                            <div class="row align-items-center">
                                <div class="col flex-horizontal-center">
                                    <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                    <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                                </div>
                                <div class="col my-4 my-md-0 des">
                                    <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                            shopping.</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- Subscribe Form -->
                            <form class="form-subcriber d-flex wow fadeIn animated">
                                <input type="email" class="form-control bg-white font-small"
                                    placeholder="Enter your email">
                                <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                            </form>
                            <!-- End Subscribe Form -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding footer-mid">
                <div class="container pt-15 pb-20">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-about font-md mb-md-5 mb-lg-0">
                                <div class="logo logo-width-1 wow fadeIn animated">
                                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                                </div>
                                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                                <p class="wow fadeIn animated">
                                    <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                                </p>
                                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <h5 class="widget-title wow fadeIn animated">About</h5>
                            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-3">
                            <h5 class="widget-title wow fadeIn animated">My Account</h5>
                            <ul class="footer-list wow fadeIn animated">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Order</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="widget-title wow fadeIn animated">Install App</h5>
                            <div class="row">
                                <div class="col-md-8 col-lg-12">
                                    <p class="wow fadeIn animated">From App Store or Google Play</p>
                                    <div class="download-app wow fadeIn animated">
                                        <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                                src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                        <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                    <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                    <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container pb-20 wow fadeIn animated">
                <div class="row">
                    <div class="col-12 mb-20">
                        <div class="footer-bottom"></div>
                    </div>
                    <div class="col-lg-6">
                        <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                                class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-lg-end text-start font-sm text-muted mb-0">
                            Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                            reserved
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-5">Now Loading</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor JS-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/plugins/slick.js"></script>
        <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="assets/js/plugins/wow.js"></script>
        <script src="assets/js/plugins/jquery-ui.js"></script>
        <script src="assets/js/plugins/perfect-scrollbar.js"></script>
        <script src="assets/js/plugins/magnific-popup.js"></script>
        <script src="assets/js/plugins/select2.min.js"></script>
        <script src="assets/js/plugins/waypoints.js"></script>
        <script src="assets/js/plugins/counterup.js"></script>
        <script src="assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="assets/js/plugins/images-loaded.js"></script>
        <script src="assets/js/plugins/isotope.js"></script>
        <script src="assets/js/plugins/scrollup.js"></script>
        <script src="assets/js/plugins/jquery.vticker-min.js"></script>
        <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Template  JS -->
        <script src="assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

</html>