<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>
<body>
    <%-include('navbar.ejs')-%>
    <div class="col-md-6 m-auto d-block my-5">
        <div class="mb-25">
            <h4>Add Address</h4>
        </div>
        <form method="post">
            <div class="form-group">
                <input type="text" required="" name="firstname" placeholder="First name *" value="<%=selectedAddress.firstname%>">
            </div>
            <div class="form-group">
                <input type="text" required="" name="lastname" placeholder="Last name *" value="<%=selectedAddress.lastname%>">
            </div>
            
            <div class="form-group">
                <input type="text" name="addressline1" required="" placeholder="Address *" value="<%=selectedAddress.a1%>">
            </div>
            <div class="form-group">
                <input type="text" name="addressline2" required="" placeholder="Address line2" value="<%=selectedAddress.a2%>">
            </div>
            <div class="form-group">
                <input required="" type="text" name="city" placeholder="City / Town *" value="<%=selectedAddress.city%>">
            </div>
            <div class="form-group">
                <input required="" type="text" name="state" placeholder="State / County *" value="<%=selectedAddress.state%>">
            </div>
            <div class="form-group">
                <input required="" type="text" name="postcode" placeholder="Postcode / ZIP *" value="<%=selectedAddress.postcode%>">
            </div>
            <div class="form-group">
                <input required="" type="text" name="phone" placeholder="Phone *" value="<%=selectedAddress.phone%>">
            </div>
            <div class="form-group">
                <input required="" type="text" name="email" placeholder="Email address *" value="<%=selectedAddress.email%>">
            </div>
            
            <div class="col-md-12 my-3">
                <a href="/editaddresscheckout?id=<%=selectedAddress._id%>"><button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Update Address</button></a>
            </div>
        </form>
    </div>
</body>
</html>