<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-list-right.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

<head>
    <meta charset="utf-8">
    <title>Products - Companion</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/companion-high-resolution-logo-transparent.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="/assets/css/star-home.css">
</head>

<body>
    <!-- Quick view -->


    <%-include('navbar.ejs')%>


    
    <main class="main">
        <div class="container my-4">
            <form action="/product-results">
                <input type="text" placeholder="Search for items..." name="search" style="width: 350px;">
                <button type="submit">Search</button>
            </form>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter style-2">
                            <div class="totall-product">
                                <!-- <p> We found <strong class="text-brand">688</strong> items for you!</p> -->
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <!-- <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div> -->
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul class="sort-dropdown">
                                            <li><a class="" href="/product-results?search=<%=search%>&page=1">Featured</a></li>

                                            <li class="filetbyltoh"><a
                                                    href="/filterbyasc?search=<%=search%>&page=<%=1%>&filterlth">Price: Low to
                                                    High</a></li>

                                            <li><a href="/filterbydsc?search=<%=search%>&page=<%=1%>&filterhtl" class="filetbyltoh">Price:
                                                    High to Low</a></li>
                                            <!-- <li><a href="#">Release Date</a></li> -->
                                            <li><a href="/filterbyavgRating?search=<%=search%>&page=<%=1%>&filteravgRating">Avg. Rating</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        
                                        const ulist = document.querySelector('.sort-dropdown')
                                        const dropDown = document.querySelectorAll('.filetbyltoh');
                                        const pageNumber = document.getElementById('ul-pagination');
                                        dropDown.forEach(function (item) {
                                            item.addEventListener('click', function () {
                                                
                                                // pageNumber.querySelector('li:nth-child(1)').classList.add('active');
                                                console.log("WORKING")
                                                localStorage.setItem('selectedOption', item.textContent);
                                                // Log or perform other actions
                                                console.log("Hello");
                                                console.log("Text content is", item.textContent);
                                                pageNumber.querySelector('li:nth-child(1)').classList.add('active');
                                                // Assuming the page number is inside the item
                                            });
                                        });


                                        var sample = localStorage.getItem('selectedOption')
                                        
                                        const isQueryParamPresent = (paramName) => {
                                                const urlSearchParams = new URLSearchParams(window.location.search);
                                                return urlSearchParams.has(paramName);
                                        };
                                        
                                        
                                        console.log("PAge loaded and the page is", sample)
                                        console.log("LIST ITEM",pageNumber.querySelector('li:nth-child(1)'))
                                        if (isQueryParamPresent('filterlth')) {
                                            console.log('filterlth query  in parameter');
                                            // Set the active class based on the selected option
                                            // dropDown.forEach((item) => {
                                            //     if (item.textContent === sample) {
                                            //         console.log(item);
                                            //         item.firstChild.classList.add('active');
                                            //     } else {
                                            //         item.querySelector('a').classList.remove('active');
                                            //         console.log("ELSE");
                                            //     }
                                            // });
                                            ulist.querySelector('li:nth-child(2) a').classList.add('active');
                                                
                                                // Your code for when the 'search' query parameter is present
                                        }
                                        else if(isQueryParamPresent('filterhtl')){
                                            console.log('filterhtl query  in parameter');
                                            // dropDown.forEach((item) => {
                                            //     if (item.textContent === sample) {
                                            //         console.log(item);
                                            //         item.children[1].classList.add('active');
                                            //     } else {
                                            //         item.querySelector('a').classList.remove('active');
                                            //         console.log("ELSE");
                                            //     }
                                            // });
                                            ulist.querySelector('li:nth-child(3) a').classList.add('active');
                                        }
                                        else if(isQueryParamPresent('filteravgRating')){
                                            console.log('filterhtl query  in parameter');
                                            // dropDown.forEach((item) => {
                                            //     if (item.textContent === sample) {
                                            //         console.log(item);
                                            //         item.children[1].classList.add('active');
                                            //     } else {
                                            //         item.querySelector('a').classList.remove('active');
                                            //         console.log("ELSE");
                                            //     }
                                            // });
                                            ulist.querySelector('li:nth-child(4) a').classList.add('active');
                                        }
                                        else{
                                            console.log('filter query  not in parameter');
                                            ulist.querySelector('li:first-child a').classList.add('active');
                                        }
                                        // }
                                    });


                                    // Call your function or perform actions here

                                </script>
                            </div>
                        </div>
                        <div class="product-list mb-50">

                            <!--single product-->
                            <%for(i=0;i<productData.length;i++){%>
                                
                                <form action="/addtocart?productId=<%=productData[i]._id%>&quantity=1%>" method="post">
                                    <div class="product-cart-wrap">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <div class="product-img-inner">
                                                    <a href="/getdetails?id=<%=productData[i]._id%>">
                                                        <%if(productData[i].quantity!=0){%>
                                                            <img class="default-img" src="<%=productData[i].image[0]%>" alt="">
                                                            <%}else{%>
                                                                <img class="default-img" src="<%=productData[i].image[0]%>" alt="" style="filter: grayscale(100%);">
                                                                <%}%>
                                                        <!-- <img class="hover-img" src="assets/imgs/shop/product-3-2.jpg" alt=""> -->
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-action-1">
                                                <!-- <a aria-label="Quick view" class="action-btn hover-up"
                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                    <i class="fi-rs-search"></i></a> -->
                                                    <%if(locals.userData){%>
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#" onclick="addToWishlist('<%=productData[i]._id%>','<%=userData._id%>',event)"><i class="fi-rs-heart"></i></a>
                                                        <%}else{%>
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>
                                                            <%}%>
                                                <!-- <a aria-label="Compare" class="action-btn hover-up"
                                                    href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="new">New</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html"><%=productData[i].categoryid.categoryName%></a>
                                            </div>
                                            <h2><a href="/getdetails?id=<%=productData[i]._id%>">
                                                    <%=productData[i].productName%>
                                                </a></h2>
                                            <div class="product-price">
                                                <span>₹<%=productData[i].salePrice%> </span>
                                                <span class="old-price">₹<%=productData[i].regularPrice%></span>
                                            </div>
                                            <p class="mt-15">
                                                <%=productData[i].description.length > 100 ? 
                                            productData[i].description.slice(0, 100) + '...' : 
                                            productData[i].description %>
                                            </p>
                                            <div class="product-action-1 show">
                                                <%if(locals.userData){%>
                                                    <%if(productData[i].quantity!==0){%>
                                                        <a aria-label="Buy now" class="action-btn btn-sm" href="shop-cart.html" onclick="addToCart('<%=productData[i]._id%>','<%=userData._id%>',event)"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                                        <%}else{%>
                                                            <a class="btn btn-sm" href="#">Out Of Stock</a>
                                                            <%}%>
                                                    
                                                    <%}else{%>
                                                        <a aria-label="Buy now" class="action-btn" href="/login"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                                        <%}%>
                                                            <!-- <a aria-label="Buy now" class="action-btn" href="#" onsubmit=""><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a> -->
                                                            <div class="rate">
                                                                <input type="radio"
                                                                    <%=productData[i].avgRating===5
                                                                    ? 'checked' : '' %> disabled/>
                                                                <label for="star5" title="text">5 stars</label>
                                                                <input type="radio"
                                                                    <%=productData[i].avgRating===4
                                                                    ? 'checked' : '' %> disabled/>
                                                                <label for="star4" title="text">4 stars</label>
                                                                <input type="radio"
                                                                    <%=productData[i].avgRating===3
                                                                    ? 'checked' : '' %> disabled/>
                                                                <label for="star3" title="text">3 stars</label>
                                                                <input type="radio"
                                                                    <%=productData[i].avgRating===2
                                                                    ? 'checked' : '' %> disabled/>
                                                                <label for="star2" title="text">2 stars</label>
                                                                <input type="radio"
                                                                    <%=productData[i].avgRating===1
                                                                    ? 'checked' : '' %> disabled/>
                                                                <label for="star1" title="text">1 star</label>
                                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <%}%>

                                    <!--single product-->

                        </div>

                        <script>

                            function addToWishlist(productId,userId,event){
                                            event.preventDefault();
                                            fetch('/add-to-wishlist',{
                                                method:'POST',
                                                headers:{
                                                    'Content-Type':'application/json'
                                                },
                                                body:JSON.stringify({
                                                    productId:productId,
                                                    userId:userId,
                                                    quantity:1
                                                })
                                            }).then(res=>{
                                                if(res.ok){
                                                    console.log("Success")
                                                    return res.json()
                                                }else{
                                                    console.log("Error")
                                                }
                                            }).then(data=>{
                                                if(data.message==="Exist"){
                                                    console.log("Already exist")
                                                    Swal.fire({
                                                        title: "Product already exist in wishlist",
                                                        showClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeInUp
                                                            animate__faster
                                                          `
                                                        },
                                                        hideClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeOutDown
                                                            animate__faster
                                                          `
                                                        }
                                                    });
                                                }else if(data.message==="Added"){
                                                    const currentLength = parseInt(document.getElementById('wishlist-length').innerText)

                                                    document.getElementById('wishlist-length').innerText = (currentLength+1).toString()
                                                    Swal.fire({
                                                        title: "Added to wishlist",
                                                        showClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeInUp
                                                            animate__faster
                                                          `
                                                        },
                                                        hideClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeOutDown
                                                            animate__faster
                                                          `
                                                        }
                                                    });
                                                }
                                            })
                                            .catch(error=>{
                                                console.log(error)
                                            })
                                        }


                            function addToCart(productId,userId,event){
                                            event.preventDefault();
                                            fetch('/add-to-cart-from-home',{
                                                method:'POST',
                                                headers:{
                                                    'Content-Type':'application/json'
                                                },
                                                body:JSON.stringify({
                                                    productId:productId,
                                                    userId:userId,
                                                    quantity:1
                                                })
                                            }).then(res=>{
                                                if(res.ok){
                                                    console.log("Success")
                                                    return res.json()
                                                }else{
                                                    console.log("Error")
                                                }
                                            }).then(data=>{
                                                if(data.message==="Exist"){
                                                    console.log("Already exist")
                                                    Swal.fire({
                                                        title: "Product already exist in cart",
                                                        showClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeInUp
                                                            animate__faster
                                                          `
                                                        },
                                                        hideClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeOutDown
                                                            animate__faster
                                                          `
                                                        }
                                                    });
                                                }else if(data.message==="Added"){
                                                    const currentLength = parseInt(document.getElementById('cart-length').innerText)
        
                                                    document.getElementById('cart-length').innerText = (currentLength+1).toString()
                                                    Swal.fire({
                                                        title: "Added to cart",
                                                        showClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeInUp
                                                            animate__faster
                                                          `
                                                        },
                                                        hideClass: {
                                                          popup: `
                                                            animate__animated
                                                            animate__fadeOutDown
                                                            animate__faster
                                                          `
                                                        }
                                                    });
                                                }
                                            })
                                            .catch(error=>{
                                                console.log(error)
                                            })
                                        }
                        </script>

                        <!--pagination-->
                        <form method="post">
                            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start" id="ul-pagination">

                                        <%for(i=1;i<=totalPages;i++){%>
                                            <%if(filter=='lth'){%>
                                                <li class="page-item"><a class="page-link"
                                                        href="/filterbyasc?search=<%=search%>&page=<%=i%>&filterlth&filter=<%=filter%>">
                                                        <%=i%>
                                                    </a></li>
                                                <%}else if(filter=='htl'){%>
                                                    <li class="page-item"><a class="page-link"
                                                        href="/filterbydsc?search=<%=search%>&page=<%=i%>&filterhtl&filter=<%=filter%>">
                                                        <%=i%>
                                                    </a></li>
                                                    <%}else if(filter=='avg'){%>
                                                        <li class="page-item"><a class="page-link"
                                                            href="/filterbyavgRating?search=<%=search%>&page=<%=i%>&filteravg&filter=<%=filter%>">
                                                            <%=i%>
                                                        </a></li>
                                                    <%}else{%>
                                                        <li class="page-item"><a class="page-link"
                                                            href="/product-results?search=<%=search%>&page=<%=i%>">
                                                            <%=i%>
                                                        </a></li>
                                                        <%}%>
                                                    
                                                    <%}%>

                                                        
                                                            <li class="page-item"><a class="page-link" href="#"><i
                                                                        class="fi-rs-angle-double-small-right"></i></a>
                                                            </li>

                                    </ul>
                                </nav>
                            </div>
                        </form>
                        <script>

                        </script>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const pageItems = document.querySelectorAll('.page-item');
                                const pageNumber = document.getElementById('ul-pagination');
                                pageItems.forEach(function (item) {
                                    item.addEventListener('click', function () {

                                        
                                        localStorage.setItem('selectedPage', item.textContent);
                                        // Log or perform other actions
                                        console.log("Hello");
                                        console.log(item.textContent); // Assuming the page number is inside the item
                                    });
                                });


                                const selectedPage = localStorage.getItem('selectedPage')
                                console.log("PAge loaded and the page is", selectedPage)
                                if(selectedPage!=1){
                                    console.log("not 1")
                                    pageNumber.querySelector('li:nth-child(1)').classList.remove('active')
                                }
                                pageItems.forEach((item) => {
                                    if (item.textContent == selectedPage) {
                                        console.log(item)
                                        item.classList.add('active');
                                    }
                                })
                            })
                            // Call your function or perform actions here

                        </script>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <%for(i=0;i<categoryData.length;i++){%>
                                    <li><a href="shop-grid-right.html"><%=categoryData[i].categoryName%></a></li>
                                    <%}%>
                                
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        
                        <!-- Product sidebar Widget -->
                        
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%-include('footer.ejs')-%>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-list-right.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

</html>